.main-home {
    .my-ab {
        position: absolute;
        width   : 100%;

        top    : 0;
        left   : 63px;
        z-index: 1;
    }

    .Home {
        .Discover {
            padding-bottom: 76px;
            border-bottom : 1px solid rgba(222, 222, 222, 1);
            position      : relative;
            z-index       : 100;

            .Left {
                width: 49%;

                h1 {
                    padding-bottom: 21px;
                }

                p {
                    padding-bottom: 21px;
                }

                .my-btn {
                    width: 224px;
                }

                .image {
                    margin-top: 2rem;
                    width     : 95%;
                    height    : 125px;

                    img {
                        width : 100%;
                        height: 100%;
                    }
                }
            }

            .Right {
                width: 49%;
            }

            .colection-2 {
                display: none;
            }
        }
    }

    .explor {
        padding-top: 165px;

        h2 {
            margin-bottom: 2rem;
        }

        .box-container {
            display              : grid;
            grid-template-columns: repeat(auto-fit, minmax(375px, 380px));
            gap                  : 2rem;
        }

        .box {
            text-align      : left;
            padding         : 40px;
            background-color: rgba(244, 244, 244, 0.93);
            cursor          : pointer;
            border-radius   : 10px;

            .image {
                width : 52px;
                height: 52px;

                img {
                    width : 100%;
                    height: 100%;
                }
            }

            &:hover {
                background: linear-gradient(0deg, #ffffff, #ffffff);
                box-shadow: 0px 28px 57px 0px rgba(190, 190, 190, 0.25);
            }
        }
    }

    .allocate {
        position  : relative;
        z-index   : 100;
        margin-top: 30rem;
        padding   : 1.5rem;

        .absol {
            position: absolute;
            z-index : 1;
            width   : 40%;
            left    : 0;
            top     : -95px;
        }

        .no1 {
            position: relative;
            z-index : 100;
        }

        .left {
            width: 49%;

            .image {
                width : 90%;
                margin: auto;

                img {
                    position: relative;
                    top     : 40px;
                    width   : 100%;
                }
            }
        }

        .right {
            width  : 46%;
            padding: 0 3rem;
        }

        .box {
            padding: 1rem;

            background-image: linear-gradient(to right, white, rgba(242, 242, 242, 0.93));
            padding         : 1px;
            margin          : 1.5rem;

            border-radius: 30px;
        }

        .inner {
            background: white;

            padding: 2rem;
            padding: 25px;

            border-radius: 30px;

            position: relative;

            span {
                position  : absolute;
                top       : 35px;
                background: linear-gradient(0deg, #1eb1e6, #47cfff);

                left                 : -30px;
                height               : 21px;
                width                : 21px;
                border-radius        : 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius   : 50%;
                -ms-border-radius    : 50%;
                -o-border-radius     : 50%;
            }
        }
    }

    .ways {
        position  : relative;
        z-index   : 100;
        margin-top: 30rem;
        padding   : 2rem;

        .absol {
            position: absolute;
            z-index : 1;
            width   : 40%;
            right   : 0;
            top     : -95px;
        }

        .left {
            width  : 49%;
            padding: 0 3rem;
        }

        .no1 {
            position: relative;
            z-index : 100;
        }

        .inner {
            padding: 25px 25px 25px 0;

            min-width: 200px;
            max-width: 350px;
        }

        .right {
            width          : 49%;
            display        : flex;
            align-items    : center;
            justify-content: center;

            position: relative;
        }

        .r-box {

            background     : rgba(242, 242, 242, .93);
            height         : 457px;
            width          : 446px;
            border-radius  : 30px;
            display        : flex;
            align-items    : center;
            justify-content: center;

        }

        .w-mainCircle {
            display        : flex;
            justify-content: center;
            align-items    : center;
            rotate         : 15deg;
            width          : 370px;
            height         : 370px;
            border-radius  : 50%;
            background     : radial-gradient(closest-side, rgba(242, 242, 242, .93) 79%, transparent 80% 100%),
                conic-gradient(rgb(223, 223, 223) 90%, transparent 0);
        }

        .w-mainCircle>* {
            position: absolute;
        }

        .w-mainCircle> :nth-child(1) {
            top : 8rem;
            left: 0rem;

        }

        .w-mainCircle> :nth-child(2) {
            left: -1rem;
            top : 20rem;
        }

        .w-mainCircle> :nth-child(3) {


            left: 7rem;
            top : 29rem;
        }

        .w-mainCircle> :nth-child(4) {

            left: 18.5rem;
            top : 30rem;
        }

        .w-mainCircle> :nth-child(5) {
            left: 28rem;
            top : 24rem;

        }

        .w-mainCircle> :nth-child(6) {
            left: 30rem;
            top : 12rem;
        }

        .w-mainCircle> :nth-child(7) {
            left: 24rem;
            top : 2rem;
        }

        .w-mainCircle> :nth-child(8) {

            left: 14rem;
            top : 15rem;
        }

        .w-secCircle {

            width        : 85px;
            height       : 85px;
            position     : absolute;
            border-radius: 100%;

            display        : flex;
            align-items    : center;
            justify-content: center;
            background     : "none";


        }

        .w-secCircle>img {
            transform: scale(0.6);
            rotate   : -15deg;
        }

        .w-backCircle {
            position     : absolute;
            height       : 13rem;
            width        : 13rem;
            border-radius: 100%;
            /* darkMode */
            z-index      : 1;
        }
    }

    .trust {
        margin-top: 30rem;

        .image {
            margin-top: 3rem;
            width     : 100%;
            height    : 100%;

            img {
                width: 100%;
            }
        }
    }

    .sell {
        margin-top: 30rem;

        .sell-inner {
            background-image : url('../../images/main-bac1.png');
            background-repeat: no-repeat;
            background-size  : cover;
            width            : 100%;
            height           : auto;
            max-height       : 430px;
            padding          : 30px;
            border-radius    : 30px;

            .descr {
                width     : 40%;
                text-align: start;
            }

            .form-inner {
                gap: 1rem;

                input {
                    height        : 60px;
                    max-width     : 366px;
                    border-radius : 5px;
                    width         : 100%;
                    font-family   : Jost;
                    font-size     : 20px;
                    font-weight   : 400;
                    line-height   : 32px;
                    letter-spacing: 0em;
                    text-align    : left;
                    padding       : 23px;
                    color         : rgba(147, 147, 147, 1);
                }


            }

            .image {
                position         : relative;
                margin           : auto;
                max-width        : 90%;
                width            : 100%;
                top              : 0px;
                left             : 50%;
                transform        : translateX(-50%);
                -webkit-transform: translateX(-50%);
                -moz-transform   : translateX(-50%);
                -ms-transform    : translateX(-50%);
                -o-transform     : translateX(-50%);

                img {
                    width: 100%;

                }
            }



        }

    }

    .automation {

        margin-top: 40rem;

        .main-box {
            padding      : 10px;
            border       : 3px dashed rgba(222, 222, 222, 1);
            border-radius: 30px;

            -webkit-border-radius: 30px;
            -moz-border-radius   : 30px;
            -ms-border-radius    : 30px;
            -o-border-radius     : 30px;

            .box-container {
                background-color: rgba(249, 249, 249, 1);
                border-radius   : 30px;
                padding         : 35px 10px;

                display              : grid;
                grid-template-columns: repeat(auto-fit, minmax(300px, 360px));
                gap                  : 2rem;

                .box {
                    .my-title {


                        display        : flex;
                        justify-content: center;
                        align-items    : center;
                        height         : 60px;
                        width          : 183px;
                        left           : 0px;
                        top            : 0px;
                        border-radius  : 5px;
                        color          : #ffffff;
                        font-family    : Jost;
                        font-size      : 20px;
                        font-weight    : 600;
                        line-height    : 32px;
                        letter-spacing : 0em;
                        background     : rgba(48, 48, 48, 1);
                        margin         : 0 0 5rem 0;
                    }

                    .box-inner {

                        .image {
                            width : 40px;
                            height: 40px;
                            margin: auto;

                            img {
                                width : 100%;
                                height: 100%;
                            }
                        }

                        .inner-right {
                            width         : 330px;
                            margin-left   : 15px;
                            padding-bottom: 30px;
                            padding-top   : 12px;
                            border-bottom : 1px solid rgba(217, 217, 217, 1);
                        }

                        h5 {
                            text-align   : start;
                            margin-bottom: 10px;
                        }
                    }

                }
            }
        }

    }

    .works {
        margin : 30rem 0;
        padding: 0;

        .absol {
            top    : auto;
            right  : 13px;
            bottom : 0;
            left   : auto;
            width  : 232px;
            height : 424px;
            z-index: 101;
        }

        .left {
            width                 : 60%;
            padding               : 15rem 0rem 15rem 0;
            z-index               : 1;
            position              : relative;
            background-color      : rgba(246, 246, 246, 1);
            border-top-left-radius: 50px;

            border-bottom-left-radius: 50px;

            .inner {
                width           : 75%;
                background-color: transparent;
                position        : relative;
                z-index         : 1000;
                margin-right    : 2rem;
                padding-right   : 0;
            }

            h2 {
                margin-bottom: 1rem;
            }

            h5 {
                margin-bottom: 1rem;
            }

            p {
                margin-bottom: 1rem;
            }
        }

        right: {
            width: 38%;
        }

        ;

        .image1 {
            max-width: 220px;
            height   : 70px;

            img {
                width : 100%;
                height: 100%;
            }
        }

        .right {
            .inner {
                padding-left: 40px;

                span {
                    width           : auto;
                    height          : auto;
                    background-image: none;
                    left            : -35px;
                    top             : 40px;

                    h2 {
                        color: rgba(71, 207, 255, 1);

                    }
                }
            }
        }
    }

    .employe {
        position        : relative;
        background-color: rgba(48, 48, 48, 1);
        color           : #ffffff;
      margin: 0rem 0 4rem;
.image3{
    margin: 5rem auto;

    width : 100%;
                height: 85px;
                
                
                img{
                    width : 100%;
                height: 100%;
                
                }

}
        .inner {

            .abs {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                -webkit-transform: translateX(-50%);
                -moz-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                -o-transform: translateX(-50%);
}

            .mySwiper {
                width : 60%;
                height: auto;
            }
            .box{
p{
  color:   rgba(255, 255, 255, 1);
}
width: 100%;
text-align: center;

.image{
    width : 150px;
                height: 150px;
                margin: auto;
                
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
                img{
                    width : 100%;
                height: 100%;
                
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
                }
}

.image2{
    width : 100px;
                height: 25px;
                margin: auto;
                img{
                    width : 100%;
                height: 100%;
                }
}
h5{
    
    span{
        color:#1eb1e6 ;
    }
}
            }
        }

.swiper-button-next{
    background-image: url('../../images/Right.png');
width: 70px;
height: 70px;
background-repeat: no-repeat;
background-size: cover;
}

.swiper-button-prev{
    background-image: url('../../images/Right.png');
width: 70px;
height: 70px;
background-repeat: no-repeat;
background-size: cover;
rotate: 180deg;
}
.swiper-button-next:after, .swiper-button-prev:after {
    display: none;
}
    
}

.deliver{
    margin-bottom: 30rem;
    .deliver-inner{
    background-image: url('../../images/bac4.png');
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius:30px ;
    -webkit-border-radius:30px ;
    -moz-border-radius:30px ;
    -ms-border-radius:30px ;
    -o-border-radius:30px ;
    max-height: 500px;
}
.box{
    position: relative;
   margin-bottom: 3rem;
    width: 44%;
    .card{
width: 100%;
border-radius: 30px;
padding: 25px;
background: linear-gradient(0deg, #FFFFFF, #FFFFFF);

box-shadow: 0px 28px 57px 0px rgba(190, 190, 190, 0.25);

    }
h1{
    margin-bottom: 1.5rem;
}
p{
    margin-bottom: 1.5rem;
    border-bottom: 1px solid rgba(204, 204, 204, 1);
    padding-bottom: 2rem;
}
h6{
    margin-bottom: 1.5rem;
}
.image{
    margin-bottom: 1.5rem;
}
}



}



}
@media (max-width: 1189px) {
    .main-home .allocate .right {
        width: 49%;
    }

    .main-home .works {
        .left {
            padding: 8rem 0 8rem 0;
        }

        .absol {
            right: 0px;

            width : 16vw;
            height: 34vw;
        }
    }
}

@media (max-width: 480px) {
    .main-home .ways .inner {
        margin-bottom: 2rem;
        padding      : 5px;
        min-width    : 200px;
        max-width    : 350px;
    }

    .main-home .ways {
        flex-direction: column;

        padding: 0;
        gap    : 5rem;

        .r-box {

            height: 330px;
            width : 330px;
        }

        .w-right {
            display        : flex;
            align-items    : flex-start;
            justify-content: start;
            transform      : scale(0.7);

            .w-mainCircle {
                position: static;
            }

            .w-backCircle {
                left: 8rem !important;
            }
        }
    }

    .trust {
        p {
            width: 100% !important;
        }
    }

    .main-home .automation .main-box .box-container .box .box-inner .inner-right {
        width: 200px;
    }

    .main-home .works {
        .left {
            padding: 2rem;

            .inner {
                width: 100%;
            }
        }

        .absol {
            display: none;
        }
    }
}

@media (max-width: 1020px) {
    .main-home .ways {
        .no2 {
            flex-wrap: wrap;
        }
    }
}

@media (max-width: 750px) {
    .main-home {
        .my-ab {
            display: none;
        }
    }

    .Home .Discover {
        .on1 {
            flex-direction: column;
        }

        .Left {
            width: 100% !important;
        }

        .Right {
            width: 100% !important;

            .my-btn {
                margin-left: 0;
            }
        }
    }

    .main-home .allocate {
        .no1 {
            flex-direction: column;
        }

        .right {
            width: 100%;
        }

        .left {
            width: 100%;
        }

        .absol {
            width: 50%;
            top  : 0;
        }
    }

    .main-home .ways {
        .no1 {
            flex-direction: column-reverse;
        }

        .left {
            width: 100%;
        }

        .right {
            width        : 100%;
            margin-bottom: 5rem;
        }

        .no2 {
            flex-wrap: nowrap;
        }
    }

    .main-home .sell .sell-inner {
        padding: 20px;
        height : 100%;

        .no1 {
            flex-direction: column;
            align-items   : start;
        }

        .descr {
            width        : 100%;
            margin-bottom: 2rem;
        }

        .form-inner {
            width: 100%;

            input {
                height: 45px;
            }

            .my-btn2 {
                height       : 45px;
                margin-bottom: 1rem;
            }
        }

        .image {
            max-width: 100%;
        }
    }

    .main-home .works .absol {
        right : 0px;
        top   : auto;
        width : 30vw;
        height: 76vw;
    }
    .main-home .employe .inner .mySwiper {
        width: 100%;
        height: auto;
    }


.main-home .deliver{
    .deliver-inner{
        background-image: none;
        height: auto;
    }
    .no1{
        flex-direction: column;
    }
    .box{
        width: 100%;
    }
}
}

@media (max-width: 550px) {
    .main-home .ways .no2 {
        flex-wrap: wrap;
    }
}